body {
    background-image: url(img/paper-g96ec66588_1920.jpg);
    background-size: cover;
}

body,
html {
    margin: 0px;
    padding: 0px;
}

button:not(.game-tile) {
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    min-width: 30px;
    min-height: 15px;
}

.reset {
    margin: 10px;

}

.container {
    height: 100svh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 370px;
}

.game-board {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    align-self: center;
    width: 300px;
    height: 300px;
}

.game-board > .game-tile {
    border: solid black 1px;
    width: 100px;
    height: 100px;
    text-align: center;
}

form  {
    margin: auto;
}

form:first-child {
    margin-left: 25%
}

