body {
/*     background-image: url(img/paper-g96ec66588_1920.jpg);
    background-size: cover; */
    background-color: #001021;
    color: white;
}

body,
html {
    margin: 0px;
    padding: 0px;
    margin: 0;
    height: 100%;
    overflow: hidden
}

header {
    width: 100%;
    background-color: #5C80BC;
    padding: 10px;
}

button:not(.game-tile) {
    padding: 5px 15px;
    border-radius: 10px;
    border: none;
    min-width: 30px;
    min-height: 15px;
}

.reset {
    margin: 15px;

}

.container {
    height: 100svh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 370px;
}

.game-div {
    position: absolute;
}

.game-board {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    align-self: center;
    width: 300px;
    height: 300px;
}

.game-board > .game-tile {
    border: solid black 1px;
    width: 100px;
    height: 100px;
    text-align: center;
}

form  {
    position: relative;
    margin: auto;
}

form:first-child {
    margin-left: 25%
}

.button-circle {
    background-image: url("img/circle_FILL0_wght400_GRAD0_opsz48.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.button-close {
    background-image: url("img/close_FILL0_wght400_GRAD0_opsz48.svg");
    background-repeat: no-repeat;
    background-position: center;
}

