.container {
    height: 100svh;
    display: flex;
    justify-content: center;
}

.game-board {
    display: none;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    align-self: center;
    width: 300px;
    height: 300px;
}

.game-board > .game-tile {
    border: solid black 1px;
    width: 100px;
    height: 100px;
    text-align: center;
}
